<!-- <mat-toolbar color="primary">
  <span class="logo">
    
    <img src="assets/logo.png" alt="Logo" height="40" />
  </span>
  <span class="title">Blog Posts</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/add-post">Add Post</button>
  <button mat-button routerLink="/post-list">Post List</button>
  <button mat-button routerLink="/contact-us">Contact Us</button>
</mat-toolbar> -->

<mat-toolbar color="primary">
  <span class="logo">My Blog</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/posts">Blog Posts</button>
  <button mat-button routerLink="/add-post">Add Post</button>
  <button mat-button routerLink="/contact-us">Contact Us</button>
</mat-toolbar>
