.post-list-container {
  display: flex;
  gap: 20px;
  max-width: 1000px;
  margin: 40px auto;
}

.post-section, .filter-section {
  flex: 1;
}

.post-section mat-card {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.category-filters {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
